# Data Types
Primitive Types
1. Integers
2. Floats
3. Booleans
4. Strings

**Note**: We can use the type function to get the type of each entity.

In [31]:
### f-string printing

action = 'print'

print(f'You can {action} using f-string.')

You can print using f-string.

In [32]:
# Exercise: Fill out name and day variables so the print function can print out ur name and today's date

name = 'max'
day = '02/27/2023'

print(f'{name} is attending bootcamps on {day}')

max is attending bootcamps on 02/27/2023

### 1. Integers

- Numbers with a floating point: 1, 2 , and 10 not 1.2
- Can do mathemical Manipulations on this type of entity

In [33]:
print(type(1))

print(f'Matchemtical Manipulations: 1+1={1+1}, 2*3={2*3}')
print(f'Modulos: 11%2={11%2}')

<class 'int'>
Matchemtical Manipulations: 1+1=2, 2*3=6
Modulos: 11%2=1

### 2. Floats

- Numbers with floating points: 1.00, 3.45
- Can do mathemical Manipulations on this type of entity

In [34]:
# Exercise

# a. Multiply 10.19 by 67.23
print(f' Multiply 10.19 by 67.23 = {10.19*67.23}')

# b. subtract 2093.3 from 90.1902
print(f' 2093.3 from 90.1902 = {90.1902 - 2093.3}')

 Multiply 10.19 by 67.23 = 685.0737
 2093.3 from 90.1902 = -2003.1098000000002

### 3. Booleans

- Two possible values: True and False
- Used to build conditions
- AND: all statements should be True.
- OR: At least one the statements should be True.

In [35]:
print(True or False)
print(True and False)

True
False

### 4. Strings

- A type used to represent words and sentences
- Some functions
    - lower
    - upper
    - replace
    - split

In [36]:
s = "PyTH!n Bootcamp!"
print('P' in s, 'b' in s)
print(s.lower())
print(s.upper())
print(s.replace('!', 'o'))
print(s.split())
print(s.split('!'))

True False
pyth!n bootcamp!
PYTH!N BOOTCAMP!
PyTHon Bootcampo
['PyTH!n', 'Bootcamp!']
['PyTH', 'n Bootcamp', '']

In [37]:
# Exercise: 

# a. 'ABC', make all the letters lower case
print(f'ABC, make all the letters lower case => {"ABC".lower()}')

# b. 'cde', make all the letters upper case
print(f'cde, make all the letters upper case => {"cde".upper()}')

# c. replace amp with @ in 'bootcamp'
print(f'replace amp with @ in "bootcamp" => {"bootcamp".replace("amp", "@")}')

ABC, make all the letters lower case => abc
cde, make all the letters upper case => CDE
replace amp with @ in "bootcamp" => bootc@

## if statements and conditioning

- we use if to construct logic and conditions
- else: if the first condition is not correct
- else if = elif

In [38]:
# Example:

a, b = 30, 15

if a > b:
    print('a is bigger than b')

a is bigger than b

In [39]:
# Example: if/else

a, b = 3, 15

if a > b:
    print('a is bigger than b')
else:
    print('b is bigger than a')

b is bigger than a

In [40]:
# Example: Elif
a, b, c = 30, 15, 23

if c > a:
    print('c is bigger than a')
elif b > a:
    print('b is bigger than c')
else:
    print('not sure!')

not sure!

In [41]:
# Example: Finding the odd number
a = 101

if a % 2 == 1:
    print('Odd')
else:
    print('Even')

Odd

In [42]:
# Example: Using and, or, elif
a, b = 11, 26

if a > 20 and b % 13 == 0:
    print('a is bigger than 20 and b is divisable by 13')
elif a > 10 and b % 2 == 0:
    print('a is bigger than 10 and b is divisable by 2')
else:
    print('None are true')

a is bigger than 10 and b is divisable by 2

## Loops

### For
- Based on a range we can run

In [43]:
# Example: printing numbers from 1 to 10

for i in range(5):
    print(i)

0
1
2
3
4

In [44]:
# Example: printing even numbers from 1 to 10 

for i in range(5):
    if i % 2 == 0:
        print(i)

0
2
4

### While

- The loop will run until a given condition is wrong

In [45]:
# Example: while will run 10 times
a = 10

while a > 0:
    print(a)
    a -= 1

10
9
8
7
6
5
4
3
2
1

In [46]:
# Example: While will run untill a is bigger than 20

a = 120

while a > 20:
    print(a)
    a -= 45

120
75
30

## Function

- First a function should be defined then called
- Parameters can be passed
- Some functions can return an entity

In [47]:
# Example: Print hello
def print_hello():
    print('Hello')
    
print_hello()

Hello

In [48]:
# Example: Print hello based on a given name
def print_hello(name):
    print(f'Hello {name}')
    
print_hello('Jack')

Hello Jack

In [49]:
# Example: Given two parameters a and b return the sum of a and b

def sum(a, b):
    return a + b

sum(1,2)

3

In [50]:
# Example: Given two parameters a and b if a is even add a to b if not subtract a from b

def sum(a, b):
    if a % 2 == 0:
        return a + b
    else:
        return a - b
    
print(f'a is even: {sum(2,4)}, a is odd: {sum(3,4)}')

a is even: 6, a is odd: -1

In [51]:
# Exercise:
# Note: Run the functions to make sure that they are working as intended

# a. write a function that compares a and b and prints 'a' if a is bigger 
# and 'b' if b is bigger, and 'e' if they are equal

def ca(a, b):
    if a > b: 
        print('a')
    elif b > a:
        print('b')
    else:
        print('e')

# b. write a function that compares a and b and returns 'a' if a is bigger 
# and 'b'  if b is bigger and 'e' if they are equal

def ca(a, b):
    if a > b: 
        return('a')
    elif b > a:
        return('b')
    else:
        return('e')
        
# c. Write a function that gets a string, and returns True if 'abc' is in the string

def ca(s):
    if 'abc' in s:
        return True
    
# d. Write a function that gets your name and program and prints some message

def pnp(name, program):
    print(f'Hey {name} you\'re in {program}')

### Sequences

## List
   - ex: [1,2,'three', True]
   - check to see if sth is in the list: 1 in [1,2]

In [52]:
# Example: using in with lists

l = [1, 2, 'Three', True]

if 1 in l: 
    print('1 is in l')

1 is in l

In [53]:
# Example: Lenght of a list
print(f'There are {len(l)} elements in the list')

There are 4 elements in the list

In [54]:
# Example: Adding to a list

print(f'Before: {l}')
l.append('1')
print(f'after: {l}')

Before: [1, 2, 'Three', True]
after: [1, 2, 'Three', True, '1']

In [55]:
# Example: Indeing through a list
# First index starts at 0

print(f'first element in the list: {l[0]}')
print(f'third element in the list: {l[2]}')

first element in the list: 1
third element in the list: Three

In [56]:
# Example: Iterating through list

for element in l:
    print(element)

1
2
Three
True
1

In [63]:
# Exercise:

a = [1, 11, 92]

# a. use the max function to get the maximum value within list a

print(f'The max in {a} is {max(a)}')

# b. go through a and if a value is bigger than 20, print the number

for value in a:
    if value > 20:
        print(f'{value} in {a} is greater than 20')

# c. Write a function that accepts a list as parameter and then returns true if the list has more than 10 elements

def more_than_ten(alist):
    if len(alist) > 10:
        return True

# d. Write a function that checks to see if the third element in a list is divisble by 3 or not

def third_divisible_by_three(alist):
    if alist[2] % 3 == 0:
        return True

print(third_divisible_by_three([1,2,3]))
print(third_divisible_by_three([1,2,5]))

# e. Write a function that gets a list and prints each element alongside its element: 0, 1 then 1, 11 and 2, 92

def print_index_and_element(alist):
    for index in range(len(alist)):
        print(f'{index}, {alist[index]}')

The max in [1, 11, 92] is 92
92 in [1, 11, 92] is greater than 20
True
None

## Dictionary

In [58]:
# Example: Initiating the dictionary

d = {"Jacob": 93, "Alice": 89, "Ben": 74}

In [59]:
# Exmaple: Iterating based on keys

for key in d.keys():
    print(key)

Jacob
Alice
Ben

In [60]:
# Exmaple: Iterating based on values

for val in d.values():
    print(val)

93
89
74

In [61]:
# Exmaple: Iterating based on both keys and values

for key, val in d.items():
    print(key, val)

Jacob 93
Alice 89
Ben 74