# Data Types
Primitive Types
1. Integers
2. Floats
3. Booleans
4. Strings

**Note**: We can use the type function to get the type of each entity.

In [2]:
### f-string printing

You can print using f-string.

In [3]:
# Exercise: Fill out name and day variables so the print function can print out ur name and today's date

name = ---
day = ---

print(f'{name} is attending bootcamps on {day}')

SyntaxError: invalid syntax (52971808.py, line 3)

### 1. Integers

- Numbers with a floating point: 1, 2 , and 10 not 1.2
- Can do mathemical Manipulations on this type of entity

<class 'int'>
Matchemtical Manipulations: 1+1=2, 2*3=6
Modulos: 11%2=1

### 2. Floats

- Numbers with floating points: 1.00, 3.45
- Can do mathemical Manipulations on this type of entity

In [ ]:
# Exercise

# a. Multiply 10.19 by 67.23

# b. subtract 2093.3 from 90.1902

### 3. Booleans

- Two possible values: True and False
- Used to build conditions
- AND: all statements should be True.
- OR: At least one the statements should be True.

True
False

### 4. Strings

- A type used to represent words and sentences
- Some functions
    - lower
    - upper
    - replace
    - split

NameError: name 'replace' is not defined

In [ ]:
# Exercise: 

# a. 'ABC', make all the letters lower case

# b. 'cde', make all the letters upper case

# c. replace amp with @ in 'bootcamp'

## if statements and conditioning

- we use if to construct logic and conditions
- else: if the first condition is not correct
- else if = elif

In [5]:
# Example:

a is bigger than b

In [6]:
# Example: if/else

b is bigger than a

In [7]:
# Example: Elif

not sure!

In [8]:
# Example: Finding the odd number

Odd

In [26]:
# Example: Using and, or, elif

a is bigger than 10 and b is divisable by 2

## Loops

### For
- Based on a range we can run

In [9]:
# Example: printing numbers from 1 to 10

0
1
2
3
4

In [10]:
# Example: printing even numbers from 1 to 10

0
2
4

### While

- The loop will run until a given condition is wrong

In [11]:
# Example: while will run 10 times

10
9
8
7
6
5
4
3
2
1

In [12]:
# Example: While will run untill a is bigger than 20

120
75
30

## Function

- First a function should be defined then called
- Parameters can be passed
- Some functions can return an entity

In [30]:
# Example: Print hello

Hello

In [31]:
# Example: Print hello based on a given name

Hello Jack

In [27]:
# Example: Given two parameters a and b return the sum of a and b

3

In [28]:
# Example: Given two parameters a and b if a is even add a to b if not subtract a from b

a is even: 6, a is odd: -1

In [ ]:
# Exercise:
# Note: Run the functions to make sure that they are working as intended

# a. write a function that compares a and b and prints 'a' if a is bigger and 'b' if b is bigger and 'e' if they are equal

def ca(a, b):
    pass

# b. write a function that compares a and b and returns 'a' if a is bigger and 'b' if b is bigger and 'e' if they are equal

def ca(a, b):
    pass
        
# c. Write a function that gets a string, and returns True if 'abc' is in the string

def ca(s):
    pass
    
# d. Write a function that gets your name and program and prints some message

def pnp(name, program):
    pass

### Sequences

## List
   - ex: [1,2,'three', True]
   - check to see if sth is in the list: 1 in [1,2]

In [35]:
# Example: using in with lists

1 is in l

In [39]:
# Example: Lenght of a list

There are 4 elements in the list

In [40]:
# Example: Adding to a list

Before: [1, 2, 'Three', True]
after: [1, 2, 'Three', True, '1']

In [ ]:
# Example: Indeing through a list
# First index starts at 0

In [37]:
# Example: Iterating through list

1
2
Three
True

In [ ]:
# Exercise:

a = [1, 11, 92]

# a. use the max function to get the maximum value within list a

# b. go through a and if a value is bigger than 20, print the number

# c. Write a function that accepts a list as parameter and then returns true if the list has more than 10 elements

# d. Write a function that checks to see if the thrid element in a list is divisble by 3 or not

# e. Write a function that gets a list and prints each element alongside its element: 0, 1 then 1, 11 and 2, 92

## Dictionary

In [41]:
# Example: Initiating the dictionary

In [42]:
# Exmaple: Iterating based on keys

Jacob
Alice
Ben

In [43]:
# Exmaple: Iterating based on values

93
89
74

In [44]:
# Exmaple: Iterating based on both keys and values

Jacob 93
Alice 89
Ben 74